<div class="page-header">
  <h1>Order #<%= @order.id %></h1>
</div>

<p>
  <b>Order:</b>
  <%= @order.order_id %>
</p>

<p>
  <b>Item:</b>
  <%= @order.item_id %>
</p>

<p>
  <b>Item name:</b>
  <%= @order.item_name %>
</p>

<p>
  <b>Item picture:</b>
  <%= @order.item_picture %>
</p>

<p>
  <b>Item category:</b>
  <%= @order.item_category %>
</p>

<p>
  <b>Item:</b>
  <%= @order.item %>
</p>

<p>
  <b>Item price:</b>
  <%= @order.item_price %>
</p>


