<div class="page-header">
  <h1>Item #<%= @item.id %></h1>
</div>

<p>
  <b>Weekday:</b>
  <%= @item.weekday %>
</p>

<p>
  <b>Item name:</b>
  <%= @item.item_name %>
</p>

<p>
  <b>Item picture:</b>
  <%= @item.item_picture %>
</p>

<p>
  <b>Item category:</b>
  <%= @item.item_category %>
</p>

<p>
  <b>Item price:</b>
  <%= @item.item_price %>
</p>

<p>
  <b>Float:</b>
  <%= @item.float %>
</p>


